/* display grid, fit within 4 columns. each the size of 1 fraction (1fr)
and between each will be 20px (grid gap 20px) */
.card-list {
    width: 85vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
  }
  